/*Colors
 * Gray-orange: #a66940
*/

@media screen {
    img {
        width: 100%;
    }

    #topper {
        background-color: #a66940;
        margin-bottom: 30px;
    }

    #imgcol {
        background-image: url(header-image.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    #headline {
        font-family: "Goudy Bookletter 1911", serif;
        font-weight: 400;
        color: white;
        text-align: center;
        padding: 40px;
        margin-top: 20px;
        font-size: 55px;
    }

    #caption {
        font-family: "Quicksand", sans-serif;
        text-align: center;
        align-content: center;
        color: white;
        padding: 50px;
        font-size: 23px;
    }

    #byline {
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        text-align: center;
        align-content: center;
        color: white;
        font-size: 20px;
    }

    #dateline {
        font-family: "Quicksand", sans-serif;
        text-align: center;
        align-content: center;
        color: white;
        font-size: 20px;
    }

    p {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
    }

    h5 {
        background-color: #a66940;
        border-radius: 15px;
        font-family: "Goudy Bookletter 1911", serif;
        font-size: 50px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    .attribution {
        font-family: "Goudy Bookletter 1911", serif;
        font-size: 30px;
        font-weight: 500;
    }

    .body-text {
        padding-left: 100px;
        padding-right: 100px;
    }

    a {
        color: #a66940;
        text-decoration: none;
    }

    .flourish-chart {
        padding-left: 20px;
        padding-right: 20px;
    }

    h6 {
        float: right;
        margin-right: 20px;
    }

    footer {
        color: white;
        align-content: bottom;
        font-size: 10px;
    }
}

@media (min-width: 576px) {
    .body-text {
        padding-left: 200px;
        padding-right: 200px;
    }

    .pull-quote {
        padding-left: 100px;
        padding-right: 100px;
    }

    .flourish-chart {
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-content: center;
    }
}

@media {
    .pull-quote {
        padding-left: 35px;
        padding-right: 35px;
    }

    h5 {
        font-size: 27px;
    }

    .body-text {
        padding-left: 25px;
        padding-right: 25px;
    }

    .attribution {
        font-size: 15px;
    }

    p {
        font-size: 18px;
    }

    h6 {
        font-size: 10px;
    }
}

@media (min-width: 992px) {
    .body-text {
        padding-left: 200px;
        padding-right: 200px;
    }

    p {
        font-size: 25px;
    }

    .pull-quote {
        padding-left: 200px;
        padding-right: 200px;
    }

    h5 {
        font-size: 40px;
    }

    .attribution {
        font-size: 25px;
    }

    .flourish-embed {
        padding-left: 200px;
        padding-right: 200px;
    }

    .flourish-chart {
        padding-left: 200px;
        padding-right: 200px;
    }

    #map {
        padding-left: 200px;
        padding-right: 200px;
    }

    h6 {
        padding-left: 200px;
        padding-right: 200px;
    }
}
