#headshot {
    width: 300px;
    margin: 50px;
}

body {
    font-family: Arial, sans-serif;
}

a {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

a:hover {
    color: red;
}

#info {
    width: 700px;
    margin: auto;
}

@media (min-width: 576px) {
}
